.pop-up {
  position: absolute;
  width: 420px;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 10px 10px;
  z-index: 10;
  right: 0;
  top: 40px;

  &__item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid rgb(233, 236, 239);
  }

  &__img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  &__info {

    padding-left: 20px;
    max-width: calc(420px - 80px);
  }

  //bottom: 0;
  //left: -100%;
}