
.stat-container {
  padding-bottom: 90px;

  .row {
    div:nth-child(1) {
      .stat-block__icon {
        background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
      }
    }

    div:nth-child(2) {
      .stat-block__icon {
        background: linear-gradient(87deg, #fb6340 0, #fbb140 100%);
      }
    }

    div:nth-child(3) {
      .stat-block__icon {
        background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
      }
    }

    div:nth-child(4) {
      .stat-block__icon {
        background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
      }
    }
  }
}


.stat-block {
  $self: &;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 18px 25px;
  border-radius: 5px;
  position: relative;

  @include media-breakpoint-down(xl) {
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__icon {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
    background-color: #000;
    font-size: 20px;
  }


  &__label {
    width: calc(100% - 50px);
    color: #323267;
  }

  &__title {
    color: #8898AA;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  &__bottom {
    margin-top: 15px;
    font-size: 14px;
  }

  &__dynamic-val {
    color: #2DCE89;
    padding-right: 10px;
  }
}











