@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./scss/menu";
@import "./scss/statBlock";


.chart {
  margin-top: 60px;
}

.line-chart {
  background-color: #172B4D;
}

.bar-chart {
  background-color: #fff;
}




.page {
  padding: 25px;
  background-color: #5F72E3;
}


