
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./scss/vars";
@import "./scss/login";
@import "./scss/sideBar";
@import "./scss/menu";
@import "./scss/page";
@import "./scss/pageNav";
@import "./scss/statBlock";
@import "./scss/topBar";


.content {
  width: 100%;
  margin-left: auto;
  max-width: calc(100% - 250px);
}

.line-chart {
  background-color: #172B4D;
  border-radius: 5px;
}

.bar-chart {
  background-color: #fff;
  border-radius: 5px;
}


.page {

  &.is.raised {
    margin-top: -60px;
  }
}


