@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./scss/menu";
@import "./scss/statBlock";
@import "./scss/topBar";



.line-chart {
  background-color: #172B4D;
  border-radius: 5px;
}

.bar-chart {
  background-color: #fff;
  border-radius: 5px;
}




.page {
  margin-top: -60px;
}


