.menu {
  list-style-type: none;

  &:hover {
    ul {
      max-height: 1000px;
      transition: max-height 2s ease-in;
    }
  }

  ul {
    list-style-type: none;
  }

}

.closed {
  display: none;
}


opened {
  display: block;
}