.page-nav {
  padding-top: 30px;
  padding-bottom: 30px;

  &__inner {
    display: flex;
    align-content: center;
    align-items: center;
    color: #fff;
  }

  &__label {
    margin-bottom: 0;
  }

  &__breadcrumbs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;

    li {
      padding-right: 10px;
    }

    li:before {
      content: '-'
    }
  }
}