.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 250px;
  padding: 24px 10px;
}

.menu {
  list-style-type: none;

  &.grad-first,
  &.grad-second,
  &.grad-third,
  &.grad-fourth,
  &.grad-fifth {
    &:after {
      left: 5px;
      top: 5px;
      width: 15px;
      height: 15px;
    }
  }

  li {
    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    ul {
      max-height: 1000px;
      transition: max-height 2s ease-in;
    }
  }

  ul {
    list-style-type: none;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}

.closed {
  display: none;
}


.opened {
  display: block;
}